{
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "jsx": true
      },
      "transform": {
        "react": {
          "pragma": "Mini.createElement",
          "pragmaFrag": "Mini.Fragment"
        }
      }
    }
  }
  