:root {
  --red0: #fcf6f3;
  --red1: #febc9a;
  --red2: #fe7934;
  --red3: #fe5701;
  --red4: #cb4601;
  --blue0: #fafcfe;
  --blue1: #a3d0f5;
  --blue2: #46a0ec;
  --blue3: #1888e7;
  --blue4: #136db9;
  --black0: #999999;
  --black1: #666666;
  --black2: #4d4d4d;
  --black3: #333333;
  --black4: #1a1a1a;
}

.signup {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--red0);
  color: var(--black4);
}
.signup #center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.signup #center #card {
  height: 40%;
  min-height: 350px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--blue2);
  border-radius: 10px;
  padding: 16px;
}
.signup #center #card #title {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}
.signup #center #card #input-section {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.signup #center #card #input-section input[type=text],
.signup #center #card #input-section input[type=password] {
  font-size: 14px;
  padding: 0px 0px 3px 2px;
  border: 0;
  border-bottom: 1.5px solid var(--red2);
  background-color: transparent;
  color: var(--black4);
}
.signup #center #card #input-section #checkbox {
  display: flex;
  align-items: center;
}
.signup #center #card #button-section {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup #center #card #button-section button {
  color: var(--red4);
  background-color: transparent;
  border: 1px solid var(--red4);
  padding: 15px;
  border-radius: 10px;
}
.signup #center #card #button-section button:hover {
  color: transparent;
  background-color: var(--red4);
  border: 1px solid var(--red4);
}
.signup #center #card #button-section button svg path {
  fill: var(--black4);
}
.signup #center #card #button-section button svg {
  width: 100%;
  height: 100%;
}
.signup #center #card #button-section button:hover svg path {
  fill: var(--red0);
}
.signup #center #card #signin {
  cursor: pointer;
  text-decoration: underline;
}
.signup #center #card #signin:hover {
  color: var(--red4);
}