:root {
  --prime0: #cb4601;
  --prime1: #fe5701;
  --prime2: #fe7934;
  --prime3: #febc9a;
  --prime4: #ffeee6;
  --prime4: #fef8f6;
  --prime5: #fffffe;
  --second0: #136db9;
  --second1: #1888e7;
  --second2: #46a0ec;
  --second3: #a3d0f5;
  --second4: #e8f3fd;
  --second5: #fafdff;
}

.navbar {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 0 2%;
}
.navbar #logo {
  height: 50px;
  display: flex;
  align-items: center;
}
.navbar fr {
  display: flex;
  gap: 10%;
  padding: 10px 0;
}
.navbar fr button {
  flex: 1;
  width: 80px;
  border-radius: 8px;
}
.navbar fr #login-btn {
  color: var(--second2);
  background-color: var(--second5);
  border: 1px solid var(--second2);
}
.navbar fr #login-btn:hover {
  color: var(--second5);
  background-color: var(--second2);
  border: 1px solid var(--second2);
}
.navbar fr #signup-btn {
  color: var(--second5);
  background-color: var(--second2);
  border: 1px solid var(--second5);
  border: 1px solid var(--second2);
}
.navbar fr #signup-btn:hover {
  color: var(--second2);
  background-color: var(--second5);
  border: 1px solid var(--second5);
}
.navbar fr #signup-btn:hover {
  border: 1px solid var(--second2);
}