
:root {
  --bg: #0f172a;
  --nav: #1e293b;
  --accent: #26578d;
  --text: #e2e8f0;
  --text-muted: #94a3b8;
  --border: #334155;
  --bg-white:#bfc2c9;
}



.home {
  color: var(--text);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Navbar */
  .navbar {
    background-color: var(--nav);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--accent);
    }
    nav a {
      cursor: pointer;
      margin-right: 1rem;
      margin-left: 1.5rem;
      text-decoration: none;
      color: var(--text);
      transition: color 0.3s ease;
      &:hover {
        color: #3c82c9;
      }
    }
  }

  /* Main content */
  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    text-align: center;
    h1 {
      font-size: 2.75rem;
      margin-bottom: 2rem;
      color: #f1f5f9;
    }
    p{
      margin-bottom: 1rem;
    }
    button {
      padding: 0.75rem 1.5rem;
      background: var(--accent);
      color: white;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s, transform 0.2s;
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
      &:hover {
        background: #3c82c9;
        transform: translateY(-2px);
      }
      &:active {
        transform: scale(0.97);
      }
    }
  }

  /* Footer */
  .footer {
    background-color: var(--nav);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    border-top: 1px solid var(--border);
    color: var(--text-muted);
  }
}

.dark {
  background-color: var(--bg);
  color: var(--text);
}

.light {
  background-color: var(--bg-white);
  color: #1e293b;
}
