#home {
    height: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

#home .components {
    display: flex;
    justify-content: space-between;
    height: inherit;
    flex: 12;
}

/* containers */
#home .user_container {
    background-color: red;
    flex: 2;
    display: flex;
    padding: 20px;
}

#home .game_container {
    background-color: green;
    flex: 5;
    display: flex;
    padding: 10px;
}

#home .chat_container {
    background-color: blue;
    flex: 4;
    display: flex;
    padding: 10px;
}

/* user info */
#home .user_info {
    flex: 1;
    background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#home .user_info>img {
    width: 100%;
    /* height: 160px; */
    flex: 1;
}

#home .user_info>.infos {
    flex: 3;
}