* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
}

#root {
  /* background-color: red;    */
  // background-color: var(--second5);
  background-color: var(--prime4);
  height: 100%;
  width: 100%;
}

b {
  color: blue;
}

o {
  color: orange;
}

img {
  height: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  // transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
  font-weight: 100;
}
