.list {
  text-align: center;
  padding: 20px;
  background: var(--feature-bg);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
  max-width: 300px;
  margin: 20px auto;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  h2 {
    font-size: 1.75rem;
    color: var(--primary-color);
    margin-bottom: 15px;
  }
  p {
    font-size: 1.25rem;
    color: var(--text-color);
    margin-bottom: 20px;
  }
  button {
    height: 40px;
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover {
      background-color: var(--button-hover-bg);
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}