* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  // color: var(--black4);
}
body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100vh;
  width: 100vw;
}

img {
  // height: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: all 0.4s ease;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 14px;
  font-weight: 100;
}

input:focus {
  outline: none;
}
