/* import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,40") */

body {
  width: 500px;
  margin: 2em auto;
}

li {
  margin: 0.5em 0;
}

li > span {
  cursor: pointer;
  margin-inline-end: 0.5em;
}

li > input {
  margin-inline-end: 0.5em;
}

body {
  font-family: "Roboto", sans-serif;
  width: 500px;
  margin: 2em auto;
}

label {
  display: block;
  font-style: italic;
  margin-bottom: 0.25em;
}

h1 {
  font-size: 3.5rem;
}

button,
input {
  font-family: inherit;
  padding: 0.25em 0.5em;
  font-size: 1rem;
}

button:disabled {
  transition: color 0.5s ease-out;
}

button:enabled {
  transition: color 0.5s ease-out;
}

.done {
  text-decoration: line-through;
  }